@import url("palette.css");

/* Exemple : fond général et texte */

body {
  background-color: var(--couleur-fond);
  color: var(--couleur-texte);
}

/* Carte de connexion */
.card {
  border: 1px solid var(--couleur-principale);
}

/* Boutons */
.btn-primary {
  background-color: var(--couleur-principale);
  border-color: var(--couleur-principale);
}

.btn-primary:hover {
  background-color: var(--couleur-accent);
  border-color: var(--couleur-accent);
}
